<div class="mt-3">
  <%= form_with  url: "/movies", method: :get do |form| %>
    <%= form.text_field :query, class: 'form-control' %>
    <%= form.submit "Chercher", class: 'btn btn-primary mt-3' %>
  <% end %>
</div>



<% @movies.each do |movie| %>
  <h2><%= movie.title %></h2>
  <p><%= movie.year %></p>
  <p><%= movie.synopsis %></p>
<% end %>